.home {
  position: relative;
}
.hero-section {
  display: flex;
  justify-content: flex-end;
  padding: 13px;
  gap: 1rem;
  z-index: 20;
  width: 80%;
  margin: 2rem auto;
  margin-bottom: 3rem;
}
.hero-section img {
  flex: 1;
  object-fit: cover;
  min-width: 250px;
}
.hero-content {
  flex: 1;
  background-color: var(--secondary);
  padding: 1rem;
  position: relative;
}
.hero-content h1 {
  font-size: 4em;
  margin-bottom: 2rem;
}
.hero-content p {
  font-size: 1.4rem;
}
.hero-content a {
  text-decoration: none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin: 1rem 0 1rem 0;
  color: white;
  border-radius: 7px;
}
@media (max-width: 1025px) {
  .hero-content img {
    object-fit: cover;
  }
}
@media (max-width: 735px) and (min-width: 625px) {
  .hero-section {
    width: 90%;
  }
}

@media (max-width: 625px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .hero-section img {
    width: 100%;
    object-fit: cover;
  }
}
